<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
    <div class="container text-center ">
        <h1>Triva page</h1>
        <div>



            <div th:each="trivia : ${trivia}" class=" m-5">
                <h4  th:text="${trivia.question}" >placeholder question?</h4>

                    <button  th:text="${trivia.correctAnswer}" type="button" class="btn btn-primary m-1" >Answer1</button>
                    <button  th:text="${trivia.incorrectAnswers[0]}" type="button" class="btn btn-primary m-1">Answer2</button>

                    <button  th:text="${trivia.incorrectAnswers[1]}" type="button" class="btn btn-primary m-1">Answer3</button>
                    <button  th:text="${trivia.incorrectAnswers[2]}" type="button" class="btn btn-primary m-1">Answer4</button>

            </div>

        </div>
    </div>

</body>
</html>